*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
  font-family: 'Roboto', sans-serif; // 'Montserrat', 'Roboto';
}

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

.keycodes {
  background-color: #0a3d62;

  width: 100vw;
  height: 100vh;
  padding: 1.5vh 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    color: #f8e2bb;

    background-color: #3c6382;
    width: 80rem;
    min-width: 27rem;
    min-height: 50rem;
    border-radius: 8px;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &--key {
      font-size: calc(2rem + 1vw);
      font-weight: 600;
      background-color: #079992;
      border: 1px solid #0a3d62;
      text-align: center;
      border-radius: 8px;
      padding: 10px;
      margin: 10px;

      display: flex;
      flex-direction: column;

      small {
        margin-top: 20px;
        opacity: 0.8;
        font-weight: 500;
      }
    }

    &--key__message {
      text-align: center;
      font-size: calc(2rem + 1vw);
    }
  }

  @media (max-width: 500px) {
    &__content {
      width: 90%;

      &--key {
        width: 80%;
      }
    }
  }
}
